<li id="loading-line" class="alert alert-info text-center" data-user="<%= options[:user_id] %>" data-follow-user="<%= options[:follow_user_id] %>" data-time="<%= options[:time] %>" data-offset="<%= options[:offset] %>">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
  Loading...
</li>
